@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; 
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif ;
}

